.margin-100 {
    margin-top: 100px;
}
.border-10 {
    border-radius: 10px;
}
.bg-pink {
    background-color: #fceae8;
}
.bg-yellow {
    background-color: #ffa500;
}
.bg-purple {
    background-color: #da70d6;
}
.bg-blue {
    background-color: #0000ff;
}
.btn-pink {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.categories img {
    width: 100px;
}